<div class="bg-primary p-5 mt-3 rounded-md">
  <div class="flex place-content-between">
    <h1 class="text-white">{{ taskName }}</h1>
    <div class="flex gap-3 items-center">
      <span class="text-white">
        {{ dueDate | date : 'dd/MM/yyyy' }}
      </span>
      <span
        class="inline-block w-4 h-4 rounded-full mr-2 border-2 border-secondary"
        [ngClass]="status ? 'bg-green-500' : 'bg-red-500'"
      >
      </span>
    </div>
  </div>
  <p class="bg-secondary p-2 rounded-md mt-2 text-white">{{ description }}</p>
</div>
