<div class="bg-accent rounded-md w-full p-3">
  <div class="flex items-center gap-2 text-white">
    <h1 class="text-xl text-white">New List</h1>
    <button>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-6"
      >
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
      </svg>
    </button>
  </div>
  <app-new-list-form *ngIf="newListFormComponent" />
</div>
